:root {
    --white: #f8f1f1;
    --blue: #11698e;
    --darkBlue: #19456b;
    --green: #16c79a;
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img {
    max-width: 100%;
}
body {
    margin: 0;
    font-family: Montserrat, Arial, sans-serif;
    background-color: var(--white);
}
/* utilidades */
.text-center {
    justify-content: center;
    text-align: center;
}

/* General */
h1 {
    font-size: 4.8rem;
    font-weight: 900;
    color: var(--blue);
}

/* Header */


.nav {
    background-color: var(--green);
}
.contenedor-logotipo {
    display: flex;
    justify-content: center;
}
#logotipo {
    max-height: 10.1rem;
    display: flex;
    justify-content: center;
}
.instagram a {
    display: block;
    width: 4%;
    margin: 0 auto;
    transition: ease-in-out 120ms;
}
.instagram a:hover {
    filter: brightness(110%);
}
#instagram-logo {
    display: flex;
    justify-content: center;
    max-width: 4rem;
    margin: 1rem;
}
#instagram-account {
    text-align: center;
    margin: 0;
    margin-top: -1rem;
    padding: 0;
    color: var(--green);
    font-size: 3rem;
}

#titulo {
    margin-top: 0;
}

/* contenido del juego */
.contenedor {
    display: block;
    box-shadow: 12px 10px 19px -13px rgba(0,0,0,0.5), inset 12px 10px 19px -13px rgba(255,255,255,0.75);
    height: 63rem;
    max-width: 90%;
    margin: auto;
    margin-bottom: 6rem;
    border-radius: 5%;
}
#contenido-header {
    position: relative;
    display: block;
    font-size: 2.4rem;
    color: var(--blue);
    max-width: 80%;
    margin: auto;
    top: 2rem;
}
.manos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 6rem;
}
.manos div {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 150ms;
}
.manos img {
    border-radius: 50%;
    max-width: 10.2rem;
    box-shadow: 6px 5px 9px -7px rgba(0,0,0,0.5), inset 12px 10px 19px -13px rgba(255,255,255,0.75);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 150ms;
}
.manos img:hover {
    filter: brightness(105%);
}
.user {
    transform: scale(1.075);
    filter: hue-rotate(40deg);
}
.cpu {
    transform: scale(1.05);
    filter: hue-rotate(-160deg);
}

/* pantalla */
#screen {
    display: block;
    background-color: var(--green);
    margin: 3.2rem;
    height: 33rem;
    border-radius: 0px 0px 20px 20px;
    margin-top: 5.2rem;
    margin-bottom: 6rem;
}
#contador {
    font-size: 13rem;
    font-weight: 900;
    color: var(--white);
    margin: 0;
}
#contador h3 {
    margin: 0;
    max-width: 100%;
}
.mensaje p {
    font-size: 4.8rem;
    font-weight: 900;
    color: var(--white);
    margin: 0;
}
@media screen and (max-width: 610px) {
    #contador {
        font-size: 8rem;
    }
    .mensaje p {
        font-size: 3.8rem;
    }
    #screen {
        height: 28rem;
    }
}

/* footer */
#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--darkBlue);
    color: var(--white);
    text-align: center;
    padding: 3.4rem;
  }

#github-link {
    font-size: 2.2rem;
    margin:0;
    padding:0;
}